<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/education"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EducationForEveryone"
        tools:targetApi="31">

        <activity
            android:name=".ui.SignUpSetProfileActivity"
            android:exported="true"
            android:parentActivityName=".ui.SignUpActivity"
            android:theme="@style/Theme.EducationForEveryone.SlidrActivityTheme" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.EducationForEveryone.SlidrActivityTheme" />
        <activity
            android:name=".ui.CourseInfo.CourseInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.EducationForEveryone.SlidrActivityTheme" />
        <activity
            android:name=".ui.UserProfile.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.EducationForEveryone.SlidrActivityTheme" />
        <activity
            android:name=".ui.PrivateChat.PrivateChatActivity"
            android:exported="true"
            android:theme="@style/Theme.EducationForEveryone.SlidrActivityTheme" />
        <activity
            android:name=".ui.CreateCourse.CreateCourseActivity"
            android:exported="true"
            android:theme="@style/Theme.EducationForEveryone.SlidrActivityTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>